<!-- Header Partial -->
<% include ./../partials/header %>
<!-- End of Header Partial -->
<div class="container-fluid">
  <header class="jumbotron" id="yelp_camp_jumbotron">
    <div class="container">
      <h1 class="text-center">Welcome to YelpCamp</h1>
      <p class="text-center welcome">View our handmade campgrounds from around the world.</p>
      <p class="text-center">
        <a href="/campgrounds/new" class="btn btn-lg btn-success center">Add A New Campground</a></p>
      </p>
    </div>
  </header>
  <h1 id="intro" class="text-center">Featured Campgrounds</h1>
  <div id="campgrounds" class="row text-center">
    <% campgrounds.forEach(function(campground){%>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="thumbnail all">
          <img src="<%= campground.image %>" alt="<%= campground.name%>"/>
          <div class="caption">
            <h4><%= campground.name %></h4>
            <p><%= campground.description.substring(0,100) %></p>
            <p>
              <a class="btn btn-large center-block btn-warning" href="/campgrounds/<%= campground._id %>">More Info</a>
            </p>
          </div>
        </div>
    </div>
    <%}); %>
  </div>
</div>


<!-- Footer Partial -->
<% include ./../partials/footer %>
